
<div class="col-12 col-lg-4">
    <div class="sidebar-area">

        <!-- Newsletter Widget -->

        <!-- Trending Articles Widget -->
        <div class="treading-articles-widget mb-70">
            <h4>Son Eklenen Makaleler</h4>

            <!-- Single Trending Articles -->
            <div class="single-blog-post style-4">
                <!-- Post Thumb -->
                <div class="post-thumb">
                    <a href="#"><img src="~/viral/img/bg-img/15.jpg" alt=""></a>
                    <span class="serial-number">01.</span>
                </div>
                <!-- Post Data -->
                <div class="post-data">
                    <a href="#" class="post-title">
                        <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                    </a>
                    <div class="post-meta">
                        <p class="post-author">By <a href="#">Michael Smithson</a></p>
                    </div>
                </div>
            </div>

            <!-- Single Trending Articles -->
            <div class="single-blog-post style-4">
                <!-- Post Thumb -->
                <div class="post-thumb">
                    <a href="#"><img src="~/viral/img/bg-img/16.jpg" alt=""></a>
                    <span class="serial-number">02.</span>
                </div>
                <!-- Post Data -->
                <div class="post-data">
                    <a href="#" class="post-title">
                        <h6>Artist Recreates People’s Childhood Memories With Realistic Dioramas</h6>
                    </a>
                    <div class="post-meta">
                        <p class="post-author">By <a href="#">Michael Smithson</a></p>
                    </div>
                </div>
            </div>

            <!-- Single Trending Articles -->
            <div class="single-blog-post style-4">
                <!-- Post Thumb -->
                <div class="post-thumb">
                    <a href="#"><img src="~/viral/img/bg-img/17.jpg" alt=""></a>
                    <span class="serial-number">03.</span>
                </div>
                <!-- Post Data -->
                <div class="post-data">
                    <a href="#" class="post-title">
                        <h6>Artist Recreates People’s Childhood Memories With Realistic Dioramas</h6>
                    </a>
                    <div class="post-meta">
                        <p class="post-author">By <a href="#">Michael Smithson</a></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Add Widget -->
        <div class="add-widget mb-70">
            <a href="#"><img src="~/viral/img/bg-img/add.png" alt=""></a>
        </div>

        <!-- Latest Comments -->
        <div class="latest-comments-widget">
            <h4>Son Yorumlar</h4>

            <!-- Single Comment Widget -->
            <div class="single-comments d-flex">
                <div class="comments-thumbnail">
                    <img src="~/viral/img/bg-img/t1.jpg" alt="">
                </div>
                <div class="comments-text">
                    <a href="#"><span>Jamie Smith</span> on Facebook is offering facial recognition...</a>
                    <p>06:34 am, April 14, 2018</p>
                </div>
            </div>

            <!-- Single Comment Widget -->
            <div class="single-comments d-flex">
                <div class="comments-thumbnail">
                    <img src="~/viral/img/bg-img/t2.jpg" alt="">
                </div>
                <div class="comments-text">
                    <a href="#"><span>Tania Heffner</span> on Facebook is offering facial recognition...</a>
                    <p>06:34 am, April 14, 2018</p>
                </div>
            </div>

            <!-- Single Comment Widget -->
            <div class="single-comments d-flex">
                <div class="comments-thumbnail">
                    <img src="~/viral/img/bg-img/t3.jpg" alt="">
                </div>
                <div class="comments-text">
                    <a href="#"><span>Sandy Doe</span> on Facebook is offering facial recognition...</a>
                    <p>06:34 am, April 14, 2018</p>
                </div>
            </div>
        </div>

    </div>
</div>