
@{
    ViewBag.Title = "Tebrikler";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}

<div class="login-wrap">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="panel-body">
            <p>Talebiniz başarıyla alındı. Kayıt işlemini tamamlamak için, kayıt esnasında girmiş olduğunuz e-posta adresine gelen link'e tıklayın.</p>
        </div>
    </div>
</div>

