
@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-primary">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Görsel</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Kullanıcı Adı</th>
                    <th>E-Posta Adresi</th>
                    <th>Durum</th>
                    <th>Telefon</th>
                    <th>Doğum Tarihi</th>
                    <th>Yetki</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Uploads/Users/profile.jpg" style="width:29px; height:29px" />
                    </td>
                    <td>Ömer Faruk</td>
                    <td>Bal</td>
                    <td>omer</td>
                    <td>omerbal@gmail.com</td>
                    <td><span class="label label-info label-mini">Pasif</span></td>
                    <td>0530 035 9681</td>
                    <td>03.03.1983</td>
                    <td><span class="label label-success label-mini">Admin</span></td>
                    <td>
                        <a href="@Url.Action("Edit", "User")" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></a>
                        <a data-toggle="modal" href="#userDeleteModal" class="btn btn-danger btn-xs"><i class="icon-trash "></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
@Html.Partial("_PartialDeleteUser")